* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: right;
}

.logo {
    float: left;
}

.titulo {
    font-size: 100px;
    font-family: "Dancing Script";
    font-weight: bolder;
    text-shadow: 2px 2px 5px brown;
    text-transform: capitalize;
    text-align: center;
    color: #faf4d3;
    margin-top: 40px;
}

.subtitulo {
    font-family: "Dancing Script";
    font-size: 40px;
    font-weight: bolder;
    color: black;
    text-shadow: 2px 2px 5px brown;
    text-transform: lowercase;
    text-align: center
}

body {
    background-color: #cebacf;
}

#main-video-fondo {

    height: 600px;
    width: 1080px;
}

.crear-cuenta {
    text-align: center;
}

.contacto {
    text-align: center;
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

a {
    color: blue;
    /* Color del enlace por defecto */
    text-decoration: none;
}

a:hover {
    color: red;
    /* Color del enlace al pasar el ratón */
}

a:active {
    color: orange;
    /* Color del enlace activo (cuando se hace clic en él) */
}

.mision {
    font-family: "Dancing Script";
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 20px;
}

.texto-mision {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.vision {
    font-family: "Dancing Script";
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 20px;
}

.texto-vision {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#ubicacion {
    font-family: "Dancing Script";
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 25px;
}

.mapa {
    display: block;
    margin: auto;
}

.contacto {
    font-family: "Dancing Script";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

form {
    text-align: center;
}

.crear_cuenta {
    font-family: "Dancing Script";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.carrito {
    text-align: right;
}

.nombre-producto {
    font-size: 25px;
    font-weight: bolder;
}

.precio-producto {
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.detalle-producto {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.boton {
    text-decoration: none;
}

/* Estilos básicos para dispositivos móviles */
body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* Estilo para el contenedor */
.container {
    width: 100%;
    padding: 10px;
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) {
    .container {
        width: 75%;
        padding: 20px;
    }

    body {
        font-size: 18px;
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
    .container {
        width: 50%;
        padding: 30px;
    }

    body {
        font-size: 20px;
    }
}